@import url("https://rsms.me/inter/inter.css");

.send {
    position: relative;
    display: flex;
    align-items: center;
    color: #2d8cf0;
    background: transparent;
    border: none;
    font-family: 'Inter var', Inter, sans-serif;
    padding: 0;
    border-radius: 3rem;
    font-size: 1rem;
    font-variation-settings: 'wght' 500;
    cursor: pointer;
    transition: transform 0.4s ease-out;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), -4px -4px 8px 0px rgba(255, 255, 255, 0.1);
}

.send:hover .icon svg {
    transform: translate(-5px, 5px);
}

.text {
    height: 2.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.icon {
    display: flex;
    padding: 0.5rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), -4px -4px 8px 0px rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
}

.icon svg {
    fill: currentColor;
    width: 1.2rem;
    height: 1.2rem;
    transition: transform 0.4s ease-out;
}
